@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Josefin+Sans:wght@400;500&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Barlow', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif !important;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif !important;
}

a:hover {
  color: #f97316 !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.truncate-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

button:disabled {
  cursor: not-allowed;
  background: gray;
}

.active {
  background: #5c5b5b0f;
  color: #f97316;
}

.rodal-dialog {
  width: 80% !important;
  max-width: 700px;
  height: 60% !important;
  max-height: 500px;
}

.rodal.wallet_modal,
.wallet_modal > .rodal-mask {
  z-index: 0 !important;
}

#dashlay {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
